<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WheelBossDesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F883B841C5A3808003B2853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F883B9B1C5A3808003B2853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F883BA61C5A3808003B2853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
